@import "../../Constants/Extends";
@import "../../Constants/Variables";
@import "../../Constants/Mixin";

.secondaryBtn {
  width: 80px;
  height: 30px;
  padding: 3px;
  border: none;
  border-radius: #{$BorderRadius};
  margin-right: 10px;
  cursor: pointer;
  background-color: #{$SecondaryBtn};
  color: #FFFFFF;
  opacity: .7;
transition: .2s;
  &:hover {
    opacity: 1;
  }
}