$MainBackground: #ffffff;
$ElementsBackground: #ffffff;
$FontColor: #70657b;
$FontMainColor: #47404f;
$MenuFontSize: 30px;
$SidebarMenuFontSize : 20px;
$SubMenuFontSize: 16px;
$SubMenuIconFontSize: 20px;
$BoxShadow:  rgba(0, 0, 0, 0.3) 0 0 2px 0px;
$Border: 1px solid #e0e0e0;
$BorderRadius: 5px;
$PurpleLight:#d4c6e3;
$PurpleMedium:#bcbbdd;
$PurpleHard:#7569b3;
$PrimaryBtn: #249dfc;
$SecondaryBtn: #9585ee;




