@import "../../Constants/Mixin";
@import "../../Constants/Variables";

.iconHiddenSide {
  @include Display(row, center, center);
  margin: auto;
  width: 40px;
  height: 40px;
  font-size: #{$SidebarMenuFontSize};
  text-decoration: none;
  color: #47404f;

  &:hover > * {
    color: #af6000 !important;
  }
}

.iconHiddenSide:hover {
  border: #{$Border};
  border-radius: #{$BorderRadius};
}

.listItems {
  @include Display(row, flex-start, center);
  padding: 5px 25px 5px 0;
  width: 100%;
  border: none;
  cursor: pointer;

  &:hover .iconList {
    color: #af6000;
  }

  &:hover a {
    color: #af6000 !important;
  }


  .iconList {
    font-size: #{$SubMenuIconFontSize};

    > * {
      @include Display(row, center, center);
    }
  }

  .subMenu {
    border: none;
    color: #{$FontColor};
    padding: 5px 0;


    .menuItem {
      padding-right: 10px;
      font-size: #{$SubMenuFontSize};

      a {
        text-decoration: none;
        color: #{$FontColor};
        margin: 0;
        white-space: nowrap;
        letter-spacing: -1px;

      }
    }
  }
}


